<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.5/axios.min.js"
        integrity="sha512-JEXkqJItqNp0+qvX53ETuwTLoz/r1Tn5yTRnZWWz0ghMKM2WFCEYLdQnsdcYnryMNANMAnxNcBa/dN7wQtESdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- add javascript script -->
    <script src="static/script.js"></script>
    <title>Scheduler</title>

    <style>
        label {
            font-size: larger;
        }

        /* div.wrapper {
            width: 300px;
            height:300px;
            border:1px solid black;
        }

        input[type="text"] {
             display: block;
             margin : 0 auto;
        } */

        /* center all the contents of all the div */
        /* div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        } */
    </style>

</head>
<!-- <div id="courses" style="width: auto; background-color: pink; padding: 1%">
    <h2 style="display: flex; justify-content: center">BRACU Courses</h2>
    <form method="post" id="form" 
        style="width: auto; display: flex; justify-content: center; background-color: pink; padding: 1%;">
        <label for="no_of_courses"> Enter number of courses: </label>
        <input type="type" id="no_of_courses" name = "count" oninput="coursesNO()" value="" />
    </form>
</div> -->
<div style="display: flex; justify-content: center;">
    <h2 style="color: crimson;">NOTE: THIS IS A WORKING PROTOTYPE WITH LIMITED FUNCTIONALITY AND CONTAINS BUGS</h2>
</div>
<form action="/routines" id="routine" method="post" name="dayscontainer">
    <div id="courses" style="width: auto; background-color: pink; padding: 2%;">
        <h2 style="display: flex; justify-content: center;">BRACU Courses</h2><br>
        <!-- create a div to center align all the elements in it -->
        <div style="display: flex; justify-content: center;">
            <label for="no_of_courses"> Enter number of courses: </label>
            <input type="number" id="no_of_courses" name="count" oninput="coursesNO()" />
        </div>
        <!-- <label for="no_of_courses" > Enter number of courses: </label>
            <input type="type" id="no_of_courses" name = "count" oninput="coursesNO()" value="" /> -->
    </div>
    <div id="inputs" style="width: auto; height:max-content; padding:1%;  background-color: powderblue;">

        <div id="coursescontainer" style="padding: 2%" oninput="getCourses()">

            <!-- display: grid; place-items: center; -->
            <!-- 'width: auto; margin: auto; display: relative; justify-content: center; text-align: center; padding: 2%' -->
        </div>

        <!-- <div id="facultylist" style ="padding: 2%">
            
        </div> -->

        <div id="dayscontainer" style="width: 45%; height:max-content; float: left; align-items: center; padding: 2%"
            oninput="getDays()">
            <fieldset>
                <legend>Select Days</legend>
                <input id="Saturday" name="day" type="checkbox" value="0" checked/>
                <label for="Saturday"> Saturday</label><br />
                <input id="Sunday" name="day" type="checkbox" value="1" checked/>
                <label for="Sunday"> Sunday</label><br />
                <input id="Monday" name="day" type="checkbox" value="2" checked/>
                <label for="Monday"> Monday</label><br />
                <input id="Tuesday" name="day" type="checkbox" value="3" checked/>
                <label for="Tuesday"> Tuesday</label><br />
                <input id="Wednesday" name="day" type="checkbox" value="4" checked/>
                <label for="Wednesday"> Wednesday</label><br />
                <input id="Thursday" name="day" type="checkbox" value="5" checked/>
                <label for="Thursday"> Thursday</label><br /><br />
            </fieldset>
        </div>
        <div id="timescontainer" style="width: 45%; height:max-content; float: right; align-items: center; padding: 2%"
            oninput="getTimes()">
            <fieldset>
                <legend>Select Times</legend>
                <input id="EightToNineTwenty" name="time" type="checkbox" value="0" checked/>
                <label for="EightToNineTwenty"> 8:00 - 9:20</label><br />

                <input id="NineThirtyToTenFifty" name="time" type="checkbox" value="1" checked/>
                <label for="NineThirtyToTenFifty"> 9:30 - 10:50</label><br />

                <input id="ElevenToTwelveTwenty" name="time" type="checkbox" value="2" checked/>
                <label for="ElevenToTwelveTwenty"> 11:00 - 12:20</label><br />

                <input id="TwelveThirtyToOneFifty" name="time" type="checkbox" value="3" checked/>
                <label for="TwelveThirtyToOneFifty"> 12:30 - 1:50</label><br />

                <input id="TwoToThreeTwenty" name="time" type="checkbox" value="4" checked/>
                <label for="TwoToThreeTwenty"> 2:00 - 3:20</label><br />

                <input id="ThreeThirtyToFourFifty" name="time" type="checkbox" value="5" checked/>
                <label for="ThreeThirtyToFourFifty"> 3:30 - 4:50</label><br />

                <input id="FiveToSixTwenty" name="time" type="checkbox" value="6" checked/>
                <label for="FiveToSixTwenty"> 5:00 - 6:20</label><br />
            </fieldset>
        </div>
        <input type="submit" value="Submit"
            style="width:50%; height:2.5em; position: relative; left: 25%; margin-bottom: 1em;">
    </div>
</form>

</html>