<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routines</title>
</head>

<body>
    {% include 'header.html' %}
    <main>
        <div id="routines" style="width: auto; background-color: powderblue; padding: 2%;">
            <div style="display: flex; justify-content: center;">
                <h2 style="color: crimson;">NO ROUTINES FOUND</h2><br>
            </div>
            <div style="display: flex; justify-content: center;">
                <h3 style="color: crimson;">Please go to <a href="https://fivecheduler.onrender.com/">Home Page</a> and
                    check with different constraints.</h3>
            </div>
        </div>
    </main>
</body>

</html>