<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routines</title>
    <style>
        table, th, td {
            border: 2px solid black;
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <!-- loop through all the values in value -->
    <div id="courses" style="width: auto; background-color: pink; padding: 2%;">
        <h2 style="display: flex; justify-content: center;">Generated Routines</h2>
    </div>

    <div id="routines" style="width: auto; background-color: powderblue; padding: 2%;">
        {% for routine in value %}
        <h3 style="display: flex; justify-content: center;">{{ routine[0] }}</h3> 
        <p style="display: flex; justify-content: center;">{{ routine[1] | safe }}</p> <br>
        {% endfor %}
    </div>



</body>

</html>